<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sports List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion padding"><hr>
  <ion-button fill="outline" href="sportslist/detail/Football">I LIKE FOOTBALL.</ion-button><hr>
  <ion-button fill="outline" href="sportslist/detail/Basketball">I LIKE BASKETBALL.</ion-button><hr>
  <ion-button fill="outline" href="sportslist/detail/Tennis">I LIKE TENNIS.</ion-button>
</ion-content>
